body { background: #8cfda; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-helper-0 { color: #edccf4; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #74a328; font-size: 16px; margin-bottom: 5px; }
.block-router-2 { color: #449d83; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #1d9a8d; font-size: 13px; margin-bottom: 5px; }
.block-search-4 { color: #8eb7d0; font-size: 14px; margin-bottom: 5px; }
.block-email-5 { color: #7d8077; font-size: 19px; margin-bottom: 5px; }
.block-uploader-6 { color: #3f9fda; font-size: 12px; margin-bottom: 5px; }
.block-shipping-7 { color: #668dcb; font-size: 17px; margin-bottom: 5px; }
.block-shipping-8 { color: #f7e7c7; font-size: 12px; margin-bottom: 5px; }
.block-search-9 { color: #ae07e2; font-size: 17px; margin-bottom: 5px; }
.block-shipping-10 { color: #78a170; font-size: 19px; margin-bottom: 5px; }
.block-cluster-11 { color: #6c4d51; font-size: 19px; margin-bottom: 5px; }